nav.navbar {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    font-size: 18px;
}

.navbar-header .navbar-brand {
    font-size: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}