*{
    font-family: 'Arial', sans-serif;
}

.container {
    background: #eee;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav.navbar {padding-left: 30px; padding-right: 30px}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    nav.navbar .container-fluid {padding-left: 50px; padding-right: 50px}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav.navbar .container-fluid {padding-left: 50px; padding-right: 50px}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav.navbar .container-fluid {padding-left: 60px; padding-right: 60px}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    nav.navbar .container-fluid {padding-left: 100px; padding-right: 100px}
}

div.gradient {
    height: 30px;
    z-index: 100;
    position: fixed;
    top:0;
    width: 100%;

}
div.gradient .left{
    float: left;
    background: #000000;
    height: inherit;
    width: 20%;
}
div.gradient .right{
    width: 80%;
    float:right;
    height: inherit;
    background: linear-gradient(to bottom right,#000000, #1b1b1b);
    z-index: 101;

}
nav.navbar {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    font-size: 16px;
    margin: 0;
    position: fixed;
    top:0;
    width: 100%;
    background: black;
    z-index: 100;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;

}

nav.navbar img{
    margin-top: -20px;
    margin-right: 30px;

}
@media (min-width: 768px) {

}
/*div.container a{*/
    /*font-size: 30px;*/
    /*color: #000000;*/
    /*font-weight: 600;*/
    /*text-decoration: none;*/
/*}*/

div.container a:hover{
    color:#000000;
}

div.container h1{
    margin: 0;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 10px;
}


.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
    width: 100%;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

div.row {
    margin-top: 10px;
}

hr{
    /*width: 80%;*/
    margin-top: 0 !important;
    height: 1px !important;
    border: none !important;
    color: #333 !important;
    background-color: #333 !important;
}

.TM-header{
    background: #333333;
    padding-top: 80px;
    padding-bottom: 20px;
    display: inline-block;

}

.TM-header h1 a{
    padding-top: 15px;
    padding-left: 40px;
    font-size: 40px;
    color: white !important;
}

.TM-header  {

}



.TM-header .cart a{
    padding-top: 0;
    float: right;
    font-size: 28px;
    font-weight: 600;

}
.TM-header .cart a:hover{
    background-color: #204d74;
    color: white;

}

.TM-header .cart p{
    margin: 0;
    padding-left:10px;
    padding-top: 8px;
    float: right;

}

.TM-header .search-bar {
    padding-top: 10px;
}

.TM-header .glyphicon-shopping-cart{
    font-size: 30px;
    padding-top: 10px;
}

.TM-header .btn{
    padding: 3px 12px;
}

.TM-header {
    text-align: center;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
    text-align: left;
    margin-top: 5px;
}
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    font-size: 14px;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.TM-body div.desc {
    text-align: center;
    height: 405px;
    background: #ffffff;
    border-right: 10px solid #eee;
}
.TM-body div.desc li{
    list-style: none;
    text-align: left;
    font-size: 20px;
    margin: 10px;
}

.TM-body div.desc span{
    color: #1b6d85;
    font-weight: 600;
}
.TM-body .desc button{
    width: 80%;
    position: absolute;
    bottom: 20px;
    right: 10%;
    font-size: 24px;
}


.TM-body .desc h3{
    padding: 10px 0;
}

.TM-body h2{
    margin: 40px !important;
}

.TM-body .title{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

.TM-body .video{
    border-left: 10px solid #eee;
    border-right: 10px solid #eee;
    background: #ffffff;
}

#myCarousel {
    width: 100%;
}

.vertical-menu {
    width: 100%;
    height: auto;
    margin: 0;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    font-size: 14px;
    text-decoration: none;

}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #4CAF50;
    color: white;
}

.TM-body h3.title{
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #6a6a6a;
    color: white;
}

/* The container */
.TM-categories .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.TM-categories {
    padding-bottom: 50px;
}

/* Hide the browser's default checkbox */
.TM-categories .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.TM-categories .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid grey;
}

/* On mouse-over, add a grey background color */
.TM-categories .container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.TM-categories .container input:checked ~ .checkmark {
    /*background-color: #2196F3;*/
    background-color: #282828;
}

/* Create the checkmark/indicator (hidden when not checked) */
.TM-categories .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.TM-categories .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.TM-categories .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.TM-categories .categories{
    border: 1px solid #eee;
    padding-top: 10px;
}

.TM-categories ul{
    padding-left: 10px;
}

.TM-categories ul li {
    list-style: none;
}

.TM-categories ul li label {
    background-color: white;
}

.TM-categories div.percent{

    position: absolute;
    top:0;
    right:0;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background: red;
    box-shadow: none;
    text-align: center;
    line-height: 45px;
    font-weight: 600;
    color: white;
}

.TM-categories span.price{
    font-size: 13px;
    font-weight: 600;
}

.TM-categories span.original-price{
    text-decoration: line-through;
    font-size: 11px;
    color: #a2a2a2;
    font-weight: 300;
}

.TM-categories p.book-title {
    font-size: 14px;
    padding-top: 10px;
    cursor: pointer;
    color: black;
}

.TM-categories a:hover{
    text-decoration: none;
}
div.vote i {
    color: #ffc120;
    cursor: pointer;

}

div.vote{
    display: inline-block;
}
span.comment{
    color: #787878;
}

.TM-categories label.container{
    font-size: 14px;
}

.center {
    text-align: center;
}



.pagination {
    padding-top:20px;
    text-align: center;
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #454545;
    color: white;
    border: 1px solid #454545;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.book-list img {
    cursor: pointer;
}

/* Process bar */
.TM-progressbar {
    width: 80%;
    padding-top: 100px;
    display: inline-block;
}
.TM-progressbar .progressbar {
  counter-reset: step;
}
.TM-progressbar .progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.TM-progressbar .progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.TM-progressbar .progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index : -1;
}
.TM-progressbar .progressbar li:first-child:after {
  content: none;
}
.TM-progressbar .progressbar li.active {
  color: green;
}
.TM-progressbar .progressbar li.active:before {
  border-color: green;
}
.TM-progressbar .progressbar li.active + li:after {
  background-color: green;
}
