<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal">
            <div class="header">Đăng ký</div>
            <div class="form-content">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input class="form-control name" id="InputName2" placeholder="Họ" type="text">
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control name" id="InputName2" placeholder="Tên" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input class="form-control" id="InputName2" placeholder="Tài khoản" type="text"> <label class="control-label" for="InputName2"><i class="fa fa-user"></i></label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="InputName2" placeholder="Địa chỉ Email" type="email"> <label class="control-label" for="InputName2"><i class="fa fa-envelope-o"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input class="form-control" id="InputName2" placeholder="Mật khẩu" type="password"> <label class="control-label" for="InputName2"><i class="fa fa-lock"></i></label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="InputName2" placeholder="Xác nhận mật khẩu" type="password"> <label class="control-label" for="InputName2"><i class="fa fa-unlock"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <select class="form-control">
                            <option value="none" selected="">Chọn giới tính...</option>
                            <option value="male">Nam</option>
                            <option value="female">Nữ</option>
                            <option value="other">Khác</option>
                        </select>
                    </div>
                </div>
                <div class="policy">
                    <a href="#">Điều khoản sử dụng trang web</a> <br>
                    <label class="radio-inline"><input name="checkbtn" id="Checkbox1" value="check" type="radio">Tôi đồng ý với điều khoản sử dụng</label>
                </div>
            </div>
            <div class="footer clearfix">
                <button type="submit" class="btn btn-default">Đăng ký ngay</button>
            </div>
        </form>
    </div>
</div>
