<div class="row">
    <div class="hidden" name="message">{{message}}</div>
    <script>
        if(document.getElementsByName("message")[0].innerText.length>0)
            alert(document.getElementsByName("message")[0].innerText)
    </script>
    <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal" action="/signup" method="post">
            <div class="header">Register</div>
            <div class="form-content">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input class="form-control name" id="InputName2" name="first_name" placeholder="First Name" type="text">
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control name" id="InputName2" name="last_name" placeholder="Last Name" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input class="form-control" id="InputName2" name="username" placeholder="Username" type="text"> <label class="control-label" for="InputName2"><i class="fa fa-user"></i></label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="InputName2" name="email" placeholder="Email" type="email"> <label class="control-label" for="InputName2"><i class="fa fa-envelope-o"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <input class="form-control" id="InputName2" name="password" placeholder="Password" type="password"> <label class="control-label" for="InputName2"><i class="fa fa-lock"></i></label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="InputName2" name="password_confirm" placeholder="Confirm Password" type="password"> <label class="control-label" for="InputName2"><i class="fa fa-unlock"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <select class="form-control" name="gender" >
                            <option value="none" selected="">Choose Gender...</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="policy">
                    <label class="checkbox-inline"><input name="checkbtn" id="Checkbox1" value="check" type="checkbox">I agree to the <a href="#" style="margin:0">Terms of Service</a></label>
                </div>
            </div>
            <div class="footer clearfix">
                <button type="submit" class="btn btn-default">Register now</button>
            </div>
        </form>
    </div>
</div>
