<div class="TM-body">
    <h3>Liên Hệ</h3>
    <div class="member">
        <div class="row">
            <div class="col-sm-2">
                <img src="img/avatars/avatar01.png" height="120">
            </div>

            <div class="col-sm-10">
                <p class="member-name">Huỳnh Hồng Ân</p>
                <p>MSSV: <span class="member-mssv">1512014</span></p>
                <p>Email: <span class="member-email">1512014@student.hcmus.edu.vn</span> </p>
                <p>Điện Thoại: <span class="member-phone-number">0123456789</span></p>
            </div>
        </div>
    </div>

    <div class="member">
        <div class="row">
            <div class="col-sm-2">
                <img src="img/avatars/avatar02.png" height="120">
            </div>

            <div class="col-sm-10">
                <p class="member-name">Võ Quang Hưng</p>
                <p>MSSV: <span class="member-mssv">1512229</span></p>
                <p>Email: <span class="member-email">1512229@student.hcmus.edu.vn</span> </p>
                <p>Điện Thoại: <span class="member-phone-number">0123456789</span></p>
            </div>
        </div>
    </div>

    <div class="member">
        <div class="row">
            <div class="col-sm-2">
                <img src="img/avatars/avatar03.png" height="120">
            </div>

            <div class="col-sm-10">
                <p class="member-name">Huỳnh Thanh Duy</p>
                <p>MSSV: <span class="member-mssv">1412082</span></p>
                <p>Email: <span class="member-email">1412082@student.hcmus.edu.vn</span> </p>
                <p>Điện Thoại: <span class="member-phone-number">0123456789</span></p>
            </div>
        </div>
    </div>
</div>
