<div class="TM-body">
    <div class="container-fluid" style="background: white;">
      	<h3 style="text-align: center">You have to choose product first</h3>
		<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;" >
			<a href="/products" type="button" class="btn btn-lg btn-success">Choose Product</a>
			<!-- <a href="/products" type="button" class="btn btn-lg btn-primary">Continue Shopping</a> -->
		</div>
    </div>
</div>
