<div class="TM-body">
    <div class="container-fluid" style="background: white;">
      	<h3 style="text-align: center">Your designed product has been added to cart</h3>
		<div style="text-align: center; margin-top: 50px; margin-bottom: 50px;" >
			<a href="/view-cart" type="button" class="btn btn-lg btn-success">View Cart</a>
			<a href="/products" type="button" class="btn btn-lg btn-primary">Continue Shopping</a>
		</div>
    </div>
</div>
