<div class="TM-body" style="background: white; padding-right: 10px; padding-top: 10px">
    <div class="row TM-categories">
        <div class="col-sm-3" >
            <div class="filter-row">
            <h4>Danh Mục Sản Phẩm</h4>
                <ul>
                    <li><a href="#">English Books <span>(123)</span></a></li>
                    <li><a href="#">Sách Tiếng Việt <span>(123)</span></a></li>
                    <li><a href="#">Ebook <span>(123)</span></a></li>
                    <li><a href="#">Văn Phòng Phẩm <span>(123)</span></a></li>
                </ul>
            </div>

            <div class="filter-row">
                <h4>Đánh Giá</h4>
                <div class="vote">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <span class="comment">(Ít nhất 1 sao)</span>
                </div>
                <div class="vote">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <span class="comment">(Ít nhất 2 sao)</span>
                </div>
                <div class="vote">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <span class="comment">(Ít nhất 3 sao)</span>
                </div>
                <div class="vote">
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star"></i>
                    <i class="glyphicon glyphicon-star-empty"></i>
                    <span class="comment">(Ít nhất 4 sao)</span>
                </div>

            </div>

            <div class="filter-row">
                <h4>Giá</h4>
                <ul>
                    <li><a href="#">0&nbsp;đ - 500.000&nbsp;đ <span>(46)</span></a></li>
                    <li><a href="#">500.000&nbsp;đ - 1.000.000&nbsp;đ <span>(46)</span></a></li>
                    <li><a href="#">1.000.000&nbsp;đ - 2.000.000&nbsp;đ <span>(46)</span></a></li>
                </ul>
            </div>

            <div class="filter-row">
                <h4>Tác Giả</h4>
                <ul>
                    <li><a href="#">Nhóm Tác Giả <span>(45)</span></a></li>
                    <li><a href="#">Nguyễn Nhật Ánh <span>(45)</span></a></li>
                    <li><a href="#">Tô Hoài <span>(45)</span></a></li>
                    <li><a href="#">Lê Phương Liên <span>(45)</span></a></li>
                    <li><a href="#">Nguyễn Đức Trí <span>(45)</span></a></li>
                    <li><a href="#">Lê Ngọc Bảo Hân <span>(45)</span></a></li>
                    <li><a href="#">Trần Ngọc Bảo Hân <span>(45)</span></a></li>
                    <li><a href="#">First News <span>(45)</span></a></li>
                    <li><a href="#">Trần Tiến Tự <span>(45)</span></a></li>
                    <li><a href="#">Hương Giang <span>(45)</span></a></li>
                    <li class="load-more" style=" font-weight: 600; padding-top: 10px">
                        <a href="#" style="color: black;">
                            Xem thêm
                            <span>
                                <i class="glyphicon glyphicon-triangle-bottom"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="filter-row">
                <h4>Độ Tuổi</h4>
                <ul>
                    <li><a href="#">Từ 0 đến 3 <span>(23)</span></a></li>
                    <li><a href="#">Từ 3 đến 6 <span>(13)</span></a></li>
                    <li><a href="#">Từ 6 đến 12 <span>(43)</span></a></li>
                    <li><a href="#">Từ 12 đến 18 <span>(120)</span></a></li>
                    <li><a href="#">Từ 18 đến 30 <span>(200)</span></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 book-list">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="book-detail.html">
                            <img src="img/books/nguon_coi.jpg" width="100%">
                            <div class="percent">20%</div>
                            <p class="book-title">Nguồn cội - Original</p>
                        </a>
                        <p><span class="price">23.000 đ</span> <span class="original-price">25.000 đ</span></p>
                        <div class="vote">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="	glyphicon glyphicon-star-empty"></i>
                            <span class="comment">(65)</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <a href="book-detail.html">
                            <img src="img/books/nha_gia_kim.jpg" width="100%">
                            <div class="percent">15%</div>
                            <p class="book-title">Nhà giả kim</p>
                        </a>
                        <p><span class="price">23.000 đ</span> <span class="original-price">25.000 đ</span></p>
                        <div class="vote">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="	glyphicon glyphicon-star-empty"></i>
                            <span class="comment">(65)</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <a href="book-detail.html">
                            <img src="img/books/nhung_nguoi_ban_tren_co_the.jpg" width="100%">
                            <div class="percent">50%</div>
                            <p class="book-title">Những người bạn trên cơ thể</p>
                        </a>
                        <p><span class="price">23.000 đ</span> <span class="original-price">25.000 đ</span></p>
                        <div class="vote">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="	glyphicon glyphicon-star-empty"></i>
                            <span class="comment">(65)</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <a href="book-detail.html">
                            <img src="img/books/tuoi_tre_dang_gia_bao_nhieu.jpg" width="100%">
                            <div class="percent">30%</div>
                            <p class="book-title">Tuổi trẻ đáng giá bao nhiêu</p>
                        </a>
                        <p><span class="price">23.000 đ</span> <span class="original-price">25.000 đ</span></p>
                        <div class="vote">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="	glyphicon glyphicon-star-empty"></i>
                            <span class="comment">(65)</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <a href="book-detail.html">
                            <img src="img/books/nguon_coi.jpg" width="100%">
                            <div class="percent">20%</div>
                            <p class="book-title">Nguồn cội - Originasdfasfas</p>
                        </a>
                        <p><span class="price">23.000 đ</span> <span class="original-price">25.000 đ</span></p>
                        <div class="vote">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="	glyphicon glyphicon-star-empty"></i>
                            <span class="comment">(65)</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <a href="book-detail.html">
                            <img src="img/books/nguon_coi.jpg" width="100%">
                            <div class="percent">20%</div>
                            <p class="book-title">Nguồn cội - Originasdfasfas</p>
                        </a>
                        <p><span class="price">23.000 đ</span> <span class="original-price">25.000 đ</span></p>
                        <div class="vote">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="	glyphicon glyphicon-star-empty"></i>
                            <span class="comment">(65)</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <a href="book-detail.html">
                            <img src="img/books/nguon_coi.jpg" width="100%">
                            <div class="percent">20%</div>
                            <p class="book-title">Nguồn cội - Originasdfasfas</p>
                        </a>
                        <p><span class="price">23.000 đ</span> <span class="original-price">25.000 đ</span></p>
                        <div class="vote">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="	glyphicon glyphicon-star-empty"></i>
                            <span class="comment">(65)</span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <a href="book-detail.html">
                            <img src="img/books/nguon_coi.jpg" width="100%">
                            <div class="percent">20%</div>
                            <p class="book-title">Nguồn cội - Originasdfasfas</p>
                        </a>
                        <p><span class="price">23.000 đ</span> <span class="original-price">25.000 đ</span></p>
                        <div class="vote">
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="glyphicon glyphicon-star"></i>
                            <i class="	glyphicon glyphicon-star-empty"></i>
                            <span class="comment">(65)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="center">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>
    </div>

</div>
