
<div style="height:470px; margin-top:50px">
    {{#if code}}
        <p style="text-align: center; font-size:2.0em">GD thành công. Cảm ơn đã mua hàng tại trang đây.</p> 
        <p style="text-align: center; font-size:2.0em">Chúng tôi sẽ chuyển hàng đến bạn trong thời gian sớm nhất.</p> 
    {{else }}
        <p style="text-align: center; color: red;font-size:2.0em">GD thất bại</p> 
    {{/if}}
</div>
    