<div class="container-fluid TM-checkout">
    <div class="row">
        <h4 class="title">Shopping Cart <span>(2 Products)</span></h4>
        <div class="col-sm-9 book-list">
            <!--Item 1-->
            <div class="row book-item">
                <div class="col-sm-2">
                    <img src="img/templates/template1.jpg" width="100%">
                    <div class="percent">20%</div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-7">
                            <h4 class="book-title">
                                <a href="/product-detail">
                                Gildan Ultra Cotton T-shirt
                                </a>
                            </h4>
                            <p class="author">Categories:
                                <span class="author"> Sports, Trending</span>
                            </p>
                            <span><a href="#">Delete</a></span>
                            <span style="padding-left: 30px">
                                <a href="#">Edit</a>
                            </span>
                        </div>
                        <div class="col-sm-5 item-price">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="final-price">$9.25</p>
                                    <p class="original-price">$12.00</p>
                                </div>
                                <div class="col-sm-7">
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default bootstrap-touchspin-down" type="button">-</button>
                                        </span>
                                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                        <input type="tel" class="form-control quantity-r2 quantity js-quantity-product" min="0" data-js-qty="" value="1" style="display: block; text-align: center">
                                        <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default bootstrap-touchspin-up" type="button">+</button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Item 2-->
            <div class="row book-item">
                <div class="col-sm-2">
                    <img src="img/templates/template2.jpg" width="100%">
                    <div class="percent">20%</div>
                </div>
                <div class="col-sm-10">
                    <div class="row ">
                        <div class="col-sm-7">
                            <h4 class="book-title">
                                <a href="/product-detail">
                                    Anvil Jersey T-shirt
                                </a>
                            </h4>
                            <p class="author">Categories:
                                <span class="author"> Sports, Trending</span>
                            </p>
                            <span><a href="#">Delete</a></span>
                            <span style="padding-left: 30px">
                                <a href="#">Edit</a>
                            </span>
                        </div>
                        <div class="col-sm-5 item-price">
                            <div class="row">
                                <div class="col-sm-5">
                                    <p class="final-price">$9.98</p>
                                    <p class="original-price">$11.00</p>
                                </div>
                                <div class="col-sm-7">
                                    <div class="input-group bootstrap-touchspin">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default bootstrap-touchspin-down" type="button">-</button>
                                        </span>
                                        <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                        <input type="tel" class="form-control quantity-r2 quantity js-quantity-product" min="0" data-js-qty="" value="1" style="display: block; text-align: center">
                                        <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default bootstrap-touchspin-up" type="button">+</button>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row book-price" style="border-bottom: 5px solid #eee">
                <div class="col-sm-5" style="text-align: left">
                    <p style="color: #333">Subtotal:</p>
                </div>
                <div class="col-sm-7" style="text-align: right">
                    <p>$19.23</p>
                </div>
            </div>
            <div class="row book-price">
                <div class="col-sm-5" style="text-align: left">
                    <p style="padding-top: 10px; color: #333">Total:</p>
                </div>
                <div class="col-sm-7" style="text-align: right">
                    <p class="total-price">$19.23</p>
                    <p style="font-size: 13px">(Included Tax)</p>

                </div>
            </div>
            <a href="/checkout-step2"><button type="button" class="btn btn-danger checkout">Checkout</button></a>
        </div>
    </div>
</div>
