<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Products</th>
                                <th>Total Price</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12235</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12236</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12237</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12238</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12239</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12240</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12241</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12242</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12243</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        
                                        
                                        <button type="button" class="btn btn-danger">Cancel</button>
                                    </div>
                                </th>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Order ID</th>
                                <th>Products</th>
                                <th>Total Price</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>
