<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <!-- <h3 class="card-title">Data Table With Full Features</h3> -->
                        <a type="button" class="btn btn-primary add-new" href="{{addNewPage}}">
                            Add New
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>User</th>
                                <th>Products</th>
                                <th>Total Price</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>#133213</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#167352</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#542344</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#88876</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#121233</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#121334</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#123321</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#36790</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>#33234</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#32234</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#22234</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#22234</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#22234</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#23234</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12547</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#15634</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12234</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#29734</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#12334</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#63334</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#53334</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr><tr>
                                <td>#52434</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#44234</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#22234</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <td>#55554</td>
                                <td>Member 1</td>
                                <td>2 Long Sleeve, 1 Short Sleeve</td>
                                <td>$32.99</td>
                                <th>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">View</button>
                                        <button type="button" class="btn btn-primary">Edit</button>
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </div>
                                </th>
                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Order ID</th>
                                <th>User</th>
                                <th>Products</th>
                                <th>Total Price</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>
