<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <!-- <div class="card-header">
            <h3 class="card-title">Quick Example</h3>
          </div> -->
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form">
            <div class="card-body">
              <div class="form-group">
                <label for="exampleInputEmail1">Order ID</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter full name">
              </div>
              <div class="form-group">
                <label>User</label>
                <select class="form-control">
                  <option value="">--Select User--</option>
                  </option>
                  <option value="male">User1</option>
                  <option value="female">User2</option>
                  <option value="other">User3</option>
                </select>
              </div>
              <div class="form-group">
                <label>Products</label>
                <select class="form-control">
                  <option value="">--Select Products--</option>
                  </option>
                  <option value="male">Product1</option>
                  <option value="female">Product2</option>
                  <option value="other">Product3</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Subtotal</label>
                <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Tax</label>
                <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Enter phone number">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Shipping Fee</label>
                <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Enter country">
              </div>
              <div class="form-group">
                <label>Status</label>
                <select class="form-control">
                  <option value="">--Select Status--</option>
                  </option>
                  <option value="male">Pending</option>
                  <option value="female">Delivered</option>
                  <option value="other">Completed</option>
                </select>
              </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-default float-right">Cancel</button>
            </div>
          </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</div>
